.todo-data {
  max-width: 700px !important;
  min-width: 400px;
  height: auto;
  background-color: #393838be;
  border-radius: 5px 5px 5px 5px;
  color: #a5a3a3;
}
.completed {
  max-width: 700px !important;
  min-width: 400px;
  height: auto;
  background-color: #680776be;
  border-radius: 5px 5px 5px 5px;
  color: #a5a3a3;
  text-decoration: line-through;
  font-style: italic;
}
.todo-time {
  font-size: 12px;
  color: #8b8989be;
  font-style: italic;
  height: 40px;
  width: auto;
  border-radius: 0px 5px 5px 0px;
}

.editTodoBtn {
  height: 40px;
  background-color: #393838be !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 12px;
  color: #7a7979;
}
.editTodoBtn:hover {
  background-color: #7b7b7b !important;
  color: #afadad;
  transition: 0.5s ease;
}

.editTodoBtn:active {
  background-color: #7b7b7b !important;
}
